<%- include('includes/head.ejs') %>   

<div id="div_login">
    <div class="row">
        <form class="col s12" id="form_login" action="/user/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <div class="row">
                <div class="input-field col s12">
                    <input id="id" name="id" type="text" class="validate">
                    <label for="id">user id</label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <input id="password" name="password" type="password" class="validate">
                      <label for="password">Password</label>
                    </div>
                </div>     
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Login
                        <i class="material-icons right">verified_user</i>
                    </button>                        
                </div>               
            </div>
        </form>
    </div>
</div>

<div id="div_control">

</div>

<%- include('includes/tail.ejs') %>
<script src="/js/login.js"></script> 
<%- include('includes/end.ejs') %>