<%- include('includes/head.ejs') %>   
   
    <div id="div_control">
        <h1>Hello Prediction</h1>
    </div>



    <%- include('includes/tail.ejs') %>
    <!--script src="/js/home.js"></script--> 
    <%- include('includes/end.ejs') %>